* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}

.navbar-dark .navbar-nav .nav-link {
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #28a745;
}

.bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagens/imagem.webp');
    background-size: cover;
    background-position: center -45%;
    filter: blur(8px);
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.container-fluid {
    position: relative;
    z-index: 1;
}

.btn-verde {
    background-color: #28a745 !important;
    color: white !important;
    border: none;
    transition: transform 0.3s ease;
}

.btn-verde:hover {
    background-color: #218838 !important;
    transform: scale(1.05);
}

h1,
h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #28a745;
}